@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

  @import url('https://fonts.cdnfonts.com/css/rany');

                


@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./css/responsive.css";
@import "./css/homeanimation.css";
@import './css/slider.css';
@import './css/footer.css';
@import'./css/security.css';
@import './css/careers.css';
@import './css/callcenter.css';
@import './css/softwaresolution.css';
@import './css/websolution.css';
@import './css/cookie.css';
@import './css/contactus.css';
@import './css/meetteam.css';
@import './css/aboutus.css';
@import './css/partners.css';
@import './css/milestones.css';

.css{
  background-color: theme("colors.bgcolor");
}
.rany{
  font-family: 'Rany', sans-serif;
}
.inter{
  font-family: 'inter',sans-serif;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
 overflow-x: hidden !important;
}


::-webkit-scrollbar {
    width: 5px;
}
  

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  

::-webkit-scrollbar-thumb {
    background: #888;
}
  

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

                                                

@layer utilities {
  .aniline::after{
    @apply content-[''] bg-mobilebgcolor h-[3px] w-[0%] left-0 -bottom-[5px] absolute duration-300
  }
  .aniline:hover::after{
    @apply w-[100%]
  }

  .clip-path{
    clip-path: polygon(56% 9%, 69% 8%, 85% 6%, 100% 3%, 100% 100%, 0 100%, 0 3%, 14% 6%, 27% 8%, 41% 9%)
}
}