/* image slide */





.slide{
    margin-left: 2rem;
}


.sliderImage{
   
    filter: grayscale(1) opacity(.7);
    -webkit-transition: all .4s ease-in-out;

}

.sliderImage:hover{
    filter: none;
}
/* image slide */

/* text fade in-out */

/* text fade in-out */
